.video-progress,
.progress-meter
  cursor: pointer
  height: 11px
  margin: 0

.video-progress
  background-color: #26344f
  position: relative

.progress-meter
  background-color: #5d1f1c
  position: absolute
  top: 0
  left: 0
  width: 0

.thumb-scrubber
  background-color: #b8b8b8
